{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1>Contact</h1>

{% for message in app.flashes('success') %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}

{{ form_start(form) }}
<div class="mb-3">
    {{ form_row(form.username) }}
</div>
<div class="mb-3">
    {{ form_row(form.subject) }}
</div>
<div class="mb-3">
    {{ form_row(form.message) }}
</div>
<div>
    {{ form_row(form.submit) }}
</div>
{{ form_end(form) }}
{% endblock %}